<h1><%= @event.name %></h1>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Created by:</strong> <%= @event.user.name %></p>

<%= link_to "Back to Events", events_path, class: "btn btn-secondary" %>
<% if user_signed_in? && (current_user.admin? || @event.user == current_user) %>
  <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary" %>
  <!-- <%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %> -->
  <%= button_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>

<h2>Registrations</h2>

<table class="table">
  <thead>
    <tr><th>Name</th><th>Email</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <% @registrations.each do |reg| %>
      <tr>
        <td><%= reg.attendee_name %></td>
        <td><%= reg.attendee_email %></td>
        <td>
          <% if user_signed_in? && (current_user.admin? || @event.user == current_user) %>
            <%= link_to "Edit", edit_event_registration_path(@event, reg) %> |
            <!-- <%= link_to "Delete", event_registration_path(@event, reg), method: :delete, data: { confirm: "Delete?" } %> -->
            <%= button_to "Delete", event_registration_path(@event, reg), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Register for this Event</h3>
<%= render "registrations/form", event: @event, registration: @registration %>
